[project]
	description = Tools, scripts and recipes to deploy masakari
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/samP (sampathP)
[access "refs/for/refs/*"]
	read = group user/samP (sampathP)
	push = group user/samP (sampathP)
	label-Code-Review = -2..+2 group user/samP (sampathP)
	label-Verified = -1..+1 group user/samP (sampathP)
	rebase = group user/samP (sampathP)
	removeReviewer = group user/samP (sampathP)
	submit = group user/samP (sampathP)
[access "refs/heads/*"]
	read = group user/samP (sampathP)
	create = group user/samP (sampathP)
	push = +force group user/samP (sampathP)
	pushMerge = group user/samP (sampathP)
[access "refs/tags/*"]
	push = +force group user/samP (sampathP)
	pushTag = group user/samP (sampathP)
	pushSignedTag = group user/samP (sampathP)
